.m-l {
  margin-left: 10px;
}

header {
  position: fixed;
  width: 100%;
  z-index: 5;
}

main {
  margin-top: 60px;
  /*flex-grow: 1;*/
  min-height: calc(100% - 60px);
}

.footer_block {
  display: flex;
  justify-content: space-around
}
