<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Fantik</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/genres']">Fanfiks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Authors</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0 m-l" type="submit">Search</button>
        <button routerLink="/login" class="btn btn-primary m-l" type="submit">Sign in</button>
        <button routerLink="/register" class="btn btn-primary m-l" type="submit">Sign up</button>
      </form>
    </div>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
<!--  <app-main></app-main>-->
<!--  <app-article></app-article>-->
</main>
<footer>
  <div class="footer-copyright text-center py-3 footer_block">
    <p><i class="far fa-copyright"></i> 2018 Copyright:</p>
    <p>Fantik Nastya07s</p>
  </div>
</footer>

