.m-l {
  margin-left: 10px;
}

.footer_block {
  display: flex;
  justify-content: space-around
}

header {
  position: fixed;
  width: 100%;
  z-index: 5;
}

main {
  margin-top: 55px;
  height: 100%
}

.footer_block {
  display: flex;
  justify-content: space-around
}
