<div class="list-group  m-l-r">
  <p class="font-weight-bold font-italic title_list"> Popular:</p>
  <div class="list-group-item" *ngFor="let article of articles">
    <div class="d-flex w-100 justify-content-between">
      <a [routerLink]="['/',article._id]" class="mb-1 name-article">{{article.name}}</a>
    </div>
    <dl class="dl-m-l-r">
      <dt>Genre: </dt>
      <dd><a href='#'> {{article.genre.name}}</a></dd>
    </dl>
    <p class="mb-1">{{article.description}}</p>
    <small>Author: <a href="#">{{article.author.username}}</a></small>
  </div>
<!--  <div class="list-group-item">-->
<!--    <div class="d-flex w-100 justify-content-between">-->
<!--      <a href="/name" class="mb-1  name-article">Name article</a>-->
<!--    </div>-->
<!--    <dl class="dl-m-l-r">-->
<!--      <dt>Genre:</dt>-->
<!--      <dd>Detective, Action, Horror</dd>-->
<!--    </dl>-->
<!--    <dl class="dl-m-l-r">-->
<!--      <dt>Tags:</dt>-->
<!--      <dd>Detroit: Become Human, Fairy Tail</dd>-->
<!--    </dl>-->
<!--    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>-->
<!--    <small class="text-muted">Donec id elit non mi porta.</small>-->
<!--  </div>-->
<!--  <div class="list-group-item">-->
<!--    <div class="d-flex w-100 justify-content-between">-->
<!--      <a href="/name" class="mb-1 name-article">Name article</a>-->
<!--    </div>-->
<!--    <dl class="dl-m-l-r">-->
<!--      <dt>Genre:</dt>-->
<!--      <dd>Detective, Action, Horror</dd>-->
<!--    </dl>-->
<!--    <dl class="dl-m-l-r">-->
<!--      <dt>Tags:</dt>-->
<!--      <dd>Detroit: Become Human, Fairy Tail</dd>-->
<!--    </dl>-->
<!--    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>-->
<!--    <small class="text-muted">Donec id elit non mi porta.</small>-->
<!--  </div>-->
</div>
<div class="list-group  m-l-r">
  <p class="font-weight-bold font-italic title_list"> Last updates:</p>
  <div class="list-group-item" *ngFor="let article of articles | sort">
    <div class="d-flex w-100 justify-content-between">
      <a href="/name" class="mb-1 name-article">{{article.name}}</a>
    </div>
    <dl class="dl-m-l-r">
      <dt>Genre:</dt>
      <dd><a href='#'>{{article.genre.name}}</a></dd>
    </dl>
    <p class="mb-1">{{article.description}}</p>
    <small>Author: {{article.author.username}}</small>
  </div>
<!--  <div class="list-group-item">-->
<!--    <div class="d-flex w-100 justify-content-between">-->
<!--      <a href="#" class="mb-1 name-article">Name article</a>-->
<!--    </div>-->
<!--    <dl class="dl-m-l-r">-->
<!--      <dt>Genre:</dt>-->
<!--      <dd>Detective, Action, Horror</dd>-->
<!--    </dl>-->
<!--    <dl class="dl-m-l-r">-->
<!--      <dt>Tags:</dt>-->
<!--      <dd>Detroit: Become Human, Fairy Tail</dd>-->
<!--    </dl>-->
<!--    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>-->
<!--    <small class="text-muted">Donec id elit non mi porta.</small>-->
<!--  </div>-->
<!--  <div class="list-group-item">-->
<!--    <div class="d-flex w-100 justify-content-between">-->
<!--      <a href="#" class="mb-1 name-article">Name article</a>-->
<!--    </div>-->
<!--    <dl class="dl-m-l-r">-->
<!--      <dt>Genre:</dt>-->
<!--      <dd>Detective, Action, Horror</dd>-->
<!--    </dl>-->
<!--    <dl class="dl-m-l-r">-->
<!--      <dt>Tags:</dt>-->
<!--      <dd>Detroit: Become Human, Fairy Tail</dd>-->
<!--    </dl>-->
<!--    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>-->
<!--    <small class="text-muted">Donec id elit non mi porta.</small>-->
<!--  </div>-->
</div>
