.dl{
  margin-left: 0px;
  margin-bottom: 0px;
  display: flex;
}
.title_list{
  font-size: 20px;
  margin-left: 13px;
  margin-bottom: 1px;
  text-decoration: underline;;
}
.name-article{
  font-size: 18.5px;
}

.m-l-r{
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}
