<div class="m-l-r">
  <ul class="list-group">
    <h3 class="mb-2 name-article">{{article.name}}</h3>
    <li class="list-group-item" *ngFor="let chapter of chapters; let i = index">
      <a [routerLink] = "['/',article._id,i+1]">Chapter {{i+1}} - {{chapter.name}}</a>
    </li>

    <li class="list-group-item color"  *ngIf="isAuthenticated && article.author.username===user.username">
      <a [routerLink] = "['/user/addchapter/',article._id]" class="disabled">+ New Chapter</a>
    </li>
  </ul>
</div>
