<div class="container">
  <div class="row pull-right">
  <p>My articles</p>
<!--    <button class="flex " (click)="redirectToEdit()">Edit</button>-->
    <button class="flex " (click)="redirectToCreate()">+</button>
</div>
  <table class="table">
    <thead>
    <tr>
      <td>Name</td>
      <td>Genre</td>
      <td>Count chapters</td>
      <td>Create Date</td>
      <td>Update Date</td>
    </tr>
    </thead>
    <tbody>
    <tr
        *ngFor="let article of articles"
        (click)="rowSelected(article)"
    >
      <td><a href="/">{{article.name}}</a></td>
      <td>{{article.genre.name}}</td>
      <td>{{article.chapters.length}}</td>
      <td>{{article.createDate | date:'shortDate'}}</td>
      <td>{{article.updateDate | date:'shortDate'}}
        <button class="button" (click)="redirectToEdit()">Edit</button>
        <button class="button" (click)="destroy(article._id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
